#### Query data using sql and pandas

In [10]:
# Import libraries
import sqlite3 as sql
import pandas as pd

# Get data
csv = pd.read_csv("upwork-jobs.csv")
connection = sql.connect("upwork.db")
try:
    csv.to_sql('jobs', connection)
except:
    None

In [2]:
pd.read_sql('SELECT * FROM jobs', connection)

,index,title,link,description,published_date,is_hourly,hourly_low,hourly_high,budget,country
0,0,Experienced Media Buyer For Solar Pannel and R...,https://www.upwork.com/jobs/Experienced-Media-...,We’re looking for a talented and hardworking a...,2024-02-17 09:09:54+00:00,0.0,NaN,NaN,500.0,None
1,1,Full Stack Developer,https://www.upwork.com/jobs/Full-Stack-Develop...,Job Title: Full Stack DeveloperWe are seeking ...,2024-02-17 09:09:17+00:00,0.0,NaN,NaN,1100.0,United States
2,2,SMMA Bubble App,https://www.upwork.com/jobs/SMMA-Bubble-App_%7...,I need someone to redesign my bubble.io site t...,2024-02-17 09:08:46+00:00,1.0,10.0,30.0,NaN,United States
3,3,Talent Hunter Specialized in Marketing,https://www.upwork.com/jobs/Talent-Hunter-Spec...,Join Our Growing Team!We are an innovative com...,2024-02-17 09:08:08+00:00,NaN,NaN,NaN,NaN,United States
4,4,Data Engineer,https://www.upwork.com/jobs/Data-Engineer_%7E0...,We are looking for a resource who can work par...,2024-02-17 09:07:42+00:00,0.0,NaN,NaN,650.0,India
...,...,...,...,...,...,...,...,...,...,...
53053,53053,Partial Migration From WordPress to Shopify,https://www.upwork.com/jobs/Partial-Migration-...,We're moving from Wordpress to Shopify. The Sh...,2024-02-14 06:40:39+00:00,0.0,NaN,NaN,150.0,Australia
53054,53054,Logo work &amp; Event Booth Rendering,https://www.upwork.com/jobs/Logo-work-amp-Even...,I need some art works rendered in to booth des...,2024-02-14 06:40:26+00:00,0.0,NaN,NaN,30.0,United States
53055,53055,Wedding Dress Collection Photographer,https://www.upwork.com/jobs/Wedding-Dress-Coll...,We are looking for a skilled photographer to c...,2024-02-14 06:40:06+00:00,1.0,23.0,51.0,NaN,Australia
53056,53056,Design a startup profile,https://www.upwork.com/jobs/Design-startup-pro...,I building a startup company and I want to des...,2024-02-14 06:40:06+00:00,0.0,NaN,NaN,70.0,Saudi Arabia
53057,53057,Make room and price modifications to Hotel boo...,https://www.upwork.com/jobs/Make-room-and-pric...,Ok the functionality of the site works fine We...,2024-02-17 03:12:29+00:00,0.0,NaN,NaN,60.0,United States

In [3]:
# Remove NaN values for minimum low
cursor = connection.cursor()
cursor.execute("update jobs set hourly_low = 0 where hourly_low is null;")

In [4]:
# Get 10 highest paying jobs in Canada or the US
pd.read_sql('SELECT title, description, hourly_low, hourly_high, country FROM jobs where (country = "Canada") or (country = "United States") and is_hourly is true order by hourly_high desc limit 10', connection)

,title,description,hourly_low,hourly_high,country
0,Dropshipping Sourcing Agent,Looking For A Sourcing Agent able to source re...,10.0,999.0,United States
1,Intellij Security Service App Development,Join Our On-Demand Security Service Team - Opp...,3.0,999.0,United States
2,3D models of various jewelry boxes and other g...,We are looking for a 3-D artist who will be re...,28.0,999.0,United States
3,Sales Call Closer For Short Form Agency,We've been building a high quality marketing a...,200.0,900.0,United States
4,Independent Sales Representative,ğŸŒŸ Join our team as an Independent Sales Rep...,100.0,800.0,United States
5,Quick Translation Job,We are in need of someone to quickly translate...,15.0,800.0,United States
6,I need a cleaner urgently for a two bed room f...,i need a cleaners for a two bed room flat apar...,200.0,700.0,United States
7,I have a two bed room flat apartment for cleaning,We are currently seeking a reliable and trustw...,200.0,700.0,United States
8,Remote Representative,We are looking for motivated individuals to jo...,200.0,700.0,United States
9,Remote Representative,ğŸŒŸ Join Us and Unlock Your Path to Wealth as...,200.0,600.0,United States

In [5]:
# Get 10 jobs in Canada or the US with the highest minimum pay
pd.read_sql('SELECT title, description, hourly_low, hourly_high, country FROM jobs where (country = "Canada") or (country = "United States") and is_hourly is true order by hourly_low desc limit 10', connection)

,title,description,hourly_low,hourly_high,country
0,Dermatologist for dry eye skincare,I'm looking to hire a dermatologist to help me...,300.0,500.0,United States
1,100 images to word,Are you a skilled writer or typist? We have an...,230.0,550.0,United States
2,Independent Financial Sales,If you had the chance to work FOR yourself but...,200.0,500.0,United States
3,Independent Insurance Sales,If you had the chance to work FOR yourself but...,200.0,500.0,United States
4,Independent Financial Sales,If you had the chance to work FOR yourself but...,200.0,500.0,United States
5,Independent Agent,If you had the chance to work FOR yourself but...,200.0,500.0,United States
6,Asset Financial Management,We are looking for advice from as many as 5 as...,200.0,300.0,United States
7,Need divorce attorney qualified in the U.S. to...,Need divorce attorney to coach me in preparati...,200.0,300.0,United States
8,No Experience Needed! - Life Insurance Sales,There is no experience necessary!This position...,200.0,500.0,United States
9,Independent Sales Rep,There is no experience necessary!This position...,200.0,500.0,United States

In [6]:
# Get the lowest paying jobs
pd.read_sql('SELECT title, description, hourly_low, hourly_high, country FROM jobs where is_hourly is true order by hourly_low, hourly_high limit 10', connection)

,title,description,hourly_low,hourly_high,country
0,Collecting the Facebook pages of candidates fo...,Collecting the Facebook pages of the candidate...,3.0,None,United States
1,Online Speaker and Host for auctioning,Looking for someone who has excellent English....,3.0,None,United States
2,Assistant virtuel réseaux sociaux H/F,Nous recherchons un assistant virtuel (VA) pou...,3.0,None,France
3,AMAZON KDP Book Publishing VA/Virtual Assistan...,NOTE: AMAZON KDP Book Publishing VA/Virtual As...,3.0,None,United States
4,SEO for Aesthetic Courses Website,I am seeking a skilled freelancer to enhance m...,3.0,None,United Kingdom
5,Expert Shopify Developer with UX/UI experience,Role Summary:The Shopify Developer will be res...,3.0,None,Jordan
6,Part-Time Negotiator / Mediator using AI,"DO NOT APPLY:If you want more than $3/h, offer...",3.0,None,United Kingdom
7,Product Manager,Hello! ðŸŒŸI'm thrilled to announce an excitin...,3.0,None,United States
8,Full-Time Bilingual Customer Service Represent...,â�—SPECIAL NOTE â�—Apply only if you can speak...,3.0,None,New Zealand
9,Virtual Receptionist Needed,We are a pharmacy and get about 20-40 calls a ...,3.0,None,United States

In [7]:
# Average low wage by country
pd.read_sql('select count(hourly_low) as job_count, avg(hourly_low), country from jobs where is_hourly = true group by country order by avg(hourly_low) desc', connection)

     job_count  avg(hourly_low)                                country
0            1        40.000000                                 Angola
1            1        30.000000                               Botswana
2            1        30.000000                                 Bhutan
3            2        27.000000                     Cote d&#039;Ivoire
4           62        23.629032                                  Egypt
..         ...              ...                                    ...
153          1         5.000000  Congo, the Democratic Republic of the
154          2         5.000000                               Cameroon
155          1         5.000000                    Antigua and Barbuda
156          2         4.000000                               Cambodia
157          1         3.000000                            Saint Lucia

[158 rows x 3 columns]

In [8]:
# Number of jobs per country and average wage
pd.read_sql('select job_count, avg_wage, country from (select count(hourly_low) as job_count, avg(hourly_low) as avg_wage, country from jobs where is_hourly = true group by country) where job_count > 100 order by job_count desc', connection)

    job_count   avg_wage               country
0       10396  20.060408         United States
1        1995  17.287218        United Kingdom
2        1267  14.624309             Australia
3        1154  14.198440                 India
4        1097  14.419325                Canada
5         465  15.989247               Germany
6         446  18.372197                  None
7         426  15.650235              Pakistan
8         373  12.174263           Netherlands
9         325  15.698462            Bangladesh
10        315  15.460317                France
11        272  17.077206  United Arab Emirates
12        213  13.492958                 Spain
13        204  14.637255                Israel
14        195  10.235897           Philippines
15        174  15.459770             Singapore
16        164  14.250000           Switzerland
17        132  14.575758               Ireland
18        120  16.300000                 Italy
19        120  18.191667               Ukraine
20        118  14.118644           New Zealand
21        103  18.155340                Sweden
22        102  17.539216          South Africa
23        101  16.514851               Denmark

In [9]:
connection.close()